body {
  background: #000;
  color: #fff;
  padding: 25px;
  font-family: sans-serif;
}
.login_query {
  width: 500px;
  height: 50px;
  border-radius: 30px;
}
.side-block {
  display: inline-block;
  width: 700px;
  height: 650px;
  justify-content: left;
  background-color: grey;
  position: relative;
  top: -400px;
  right: 600px;
  border-radius: 100px;
  z-index: 1;
}
.side-block.animate {
  animation-name: slide;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes slide {
  from {
    transform: translateX(0);
    background-color: grey;
  }
  to {
    transform: translateX(-300px);
    background-color: grey;
  }
}

.slide {
  position: relative;
  left: 180px;
  top: 230px;
}
#goaway {
  padding: 50px;
  position: relative;
  left: 500px;
}
#submit_button {
  display: inline-block;
  padding: 10px 50px;
  border-radius: 10px;
  border: 2px solid white;
  background-color: black;
  color: white;
}
